* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links , .h1-casquillera{
  color: #fcad03 ;
}

.siderBar-text{
  color: black;
}

.img-last-product{
  width: 30%;
}

#title_Navbar{
  margin: auto;
  color: white;
  filter: drop-shadow(8px 1px 6px black);
}
