* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links , .h1-casquillera{
  color: #fcad03 ;
}

.siderBar-text{
  color: black;
}

.img-last-product{
  width: 30%;
}

#title_Navbar{
  margin: auto;
  color: white;
  /* filter: drop-shadow(8px 1px 6px black); */
}

.copyright{
  color: white;
}

#conteiner-users{
  overflow-x: auto;
  margin-left: 10px;
}

#table-user-detail{
margin-left: 10px;
margin-top: 5px;
}

@media (min-width: 375px){

}
